#SPDX-License-Identifier: MIT-0
---
# tasks file for ec2_launch
- name: printing the variables
  debug:
    msg:
      region: "{{ region }}"
- name: creating a security group with egress rule
  amazon.aws.ec2_security_group:
    description: "Security group to allow all outbound traffic"
    name: Ansilbe_Lab_Instnace_SG
    region: "{{region}}"
    rules_egress:
      - cidr_ip: 0.0.0.0/0
        proto: all
        rule_desc: "Rule to allow all the traffic going outside of instance"
    state: present

- name: adding the security group wiht ingress rules
  amazon.aws.ec2_security_group:
    description: "Security group to allow ports 80, 22 to the internet on the instance"
    name: Ansilbe_Lab_Instnace_SG
    region: "{{region}}"
    rules:
      - cidr_ip: 0.0.0.0/0
        proto: tcp
        from_port: "{{item}}"
        to_port: "{{item}}"
        rule_desc: "Rule to allow ingress traffic"
    state: present
  loop: "{{ports}}"
  register: ec2_securitygroup

- name: printing the security group info
  debug:
    var: ec2_securitygroup

- name: creating a key pair
  amazon.aws.ec2_key:
    file_name: ~/.ssh/ansible_keypair.pem
    force: true
    key_type: "rsa"
    name: ansible_keypair.pem
    region: "{{region}}"
  register: ec2_key

- name: printing the stored key to see it
  debug:
    var: ec2_key

- name: To create an ec2 instance
  amazon.aws.ec2_instance:
    exact_count: 1
    filters:
      "tag:Name": Ansible_Instance
    image_id: "{{ami_id}}"
    instance_type: t2.micro
    key_name: ansible_keypair.pem
    name: Ansible_Instance
    region: "{{region}}"
    security_groups:
      - "{{ec2_securitygroup.results[0].group_id}}"
    tags:
      Name: Ansible_Instance
  register: ec2_instance

- name: ensuring destination directroy
  file:
    path: /var/copied-files
    state: directory

- name: copying the test file to the instance
  copy:
    src: test-copy-file.yml
    dest: /var/copied-files/test-copy-file.yml
