name: Deploying front end and backend
on: push
jobs:
  deploying_code:
    runs-on: ubuntu-latest
    steps:
      - name: preparing github instance with all dependencies
        run: |
          sudo apt install -y \
          ansible

      - name: printing the output of each command if installed or not
        run: |
          git --version
          aws --version
          python3 --version
          pip show boto3
          ansible --version

      - name: clonging the repo on to the instance
        uses: actions/checkout@v2

      - name: running the playbook
        run: ansible --version
