name: Deploying front end and backend
on:
  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  deploying_code:
    runs-on: ubuntu-latest
    steps:
      - name: preparing github instance with all dependencies
        run: |
          sudo apt install -y \
          ansible

      - name: clonging the repo on to the instance
        uses: actions/checkout@v2

      - name: checking user
        run: whoami

      - name: running the playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: false
          AWS_ACCESS_KEY_ID: ${{secrets.access_key_id}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.access_key}}
          AWS_REGION: us-east-1
          MONGO_URI: ${{secrets.mongo_uri}}
          PORT: ${{vars.port}}
          key: ${{secrets.key_pair}}
        run: ansible-playbook todo-app.yml
